@page "/counter"

<h1>Counter</h1>

<EditForm Model="input" OnValidSubmit="SetCounter">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputNumber @bind-Value="input.CounterValue"
                 class="form-control col-sm-2"></InputNumber> 
    <input type="submit"
           class="btn btn-outline-info mt-2 mb-2"
           value="Set counter"/>
</EditForm>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    class Input
    {
        [DataType("int")]
        [Range(0, int.MaxValue)]
        public int CounterValue { get; set; }

    }

    Input input;

    private int currentCount = 0;

    protected override void OnInitialized()
    {
        input = new Input();
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void SetCounter()
    {
        currentCount = input.CounterValue;
    }


}
